<html>
	<head>
		<meta charset='utf-8'/>
	</head>
	<script>
		function show_alert() {
		alert("This will also delete all the associated documents and sub folders");
		}
	</script>
	<body>
		<p>you can {{ url_string }} <a href='{{ url }}'>here</a></p>

		{% if folder %}
		

			<form method='post' action='/'>
				<input type='text' name='file_name' />
				<br/>
				<input type='hidden' name='parent_folder' value='{{ folder.key.id() }}' />
				<br/>
				<input type='submit' name='add_folder' value='add_folder' />
				<br/>
			</form>

			<form method='post' action='{{ upload_url }}' enctype='multipart/form-data'>
				<input type='file' name='file_name' />
				<br/>
				<input type='hidden' name='parent_folder' value='{{ folder.key.id() }}' />
				<br/>
				<input type='submit' name='add_file' value='add_file' />
				<br/>
			</form>

			cwd:
			{% if folder.key.id() == user.user_id() %}
				/
			{% else %}
				{{ folder.key.id()[user.user_id() | length:] }}
			{% endif %}
			<br />

			<a href='/?cwd={{folder.parent_folder}}'>../</a>
			<br />

			{% for document in folder.documents %}
				{% if document.is_folder %}
					<a href='/?cwd={{folder.key.id() + "/" + document.file_name}}'>
						<pre>{{document.file_name}}</pre></a>
					<form method='post' action='/' style="display: inline-block">
						<input type='hidden' name='file_name' value='{{document.file_name}}'/>
						<input type='hidden' name='parent_folder' value='{{ folder.key.id() }}' />
						<input type='submit' name='del_folder' onclick="show_alert();" value='del folder' />
					</form>
					<br />
				{% else %}
					{{document.file_name}}
					<form method='post' action='/' style="display: inline-block">
						<input type='hidden' name='file_name' value='{{document.file_name}}'/>
						<input type='hidden' name='parent_folder' value='{{ folder.key.id() }}' />
						<input type='submit' name='del_document' value='del document' />
					</form>
					<form method='get' action='/download' style="display: inline-block">
						<input type='hidden' name='file_name' value='{{document.file_name}}' />
						<input type='hidden' name='parent_folder' value='{{ folder.key.id() }}' />
						<input type='submit' value='download' />
					</form>
					<br />
				{% endif %}
			{% endfor %}
		{% endif %}
	</body>
</html>
